/* Custom styles */
.head {
    background-image: url('./back-2.jpg');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    overflow: hidden;
    position: relative;
}
.head-r {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-rr {
    width: 300px;
    height: 200px;
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px gray solid;
}
.head-l {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-ll {
    padding-left: 100px;
}
.head .head-l, .head-r {
    width: 50%;
    height: 100%;
}
.content {
    margin-top: 75px;
}
a {
    color: white;
}